# Libraries

In [1]:
import pandas as pd
import numpy as np

# Data Set Match Scores

In [2]:
match_scores = pd.read_csv('match_scores_2017_unindexed_csv.csv')

In [4]:
match_scores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3830 entries, 0 to 3829
Data columns (total 24 columns):
tourney_year_id           3830 non-null object
tourney_order             3830 non-null int64
tourney_slug              3830 non-null object
tourney_url_suffix        3830 non-null object
tourney_round_name        3830 non-null object
round_order               3830 non-null int64
match_order               3830 non-null int64
winner_name               3830 non-null object
winner_player_id          3830 non-null object
winner_slug               3830 non-null object
loser_name                3830 non-null object
loser_player_id           3830 non-null object
loser_slug                3830 non-null object
winner_seed               2480 non-null object
loser_seed                2066 non-null object
match_score_tiebreaks     3830 non-null object
winner_sets_won           3830 non-null int64
loser_sets_won            3830 non-null int64
winner_games_won          3830 non-null int64
loser_games_won           3830 non-null int64
winner_tiebreaks_won      3830 non-null int64
loser_tiebreaks_won       3830 non-null int64
match_id                  3830 non-null object
match_stats_url_suffix    3684 non-null object
dtypes: int64(9), object(15)
memory usage: 718.2+ KB

In [6]:
match_scores.head()

,tourney_year_id,tourney_order,tourney_slug,tourney_url_suffix,tourney_round_name,round_order,match_order,winner_name,winner_player_id,winner_slug,...,loser_seed,match_score_tiebreaks,winner_sets_won,loser_sets_won,winner_games_won,loser_games_won,winner_tiebreaks_won,loser_tiebreaks_won,match_id,match_stats_url_suffix
0,2017-339,1,brisbane,/en/scores/archive/brisbane/339/2017/results,Finals,1,1,Grigor Dimitrov,d875,grigor-dimitrov,...,3,62 26 63,2,1,14,11,0,0,2017-339-d875-n552,/en/scores/2017/339/MS001/match-stats
1,2017-339,1,brisbane,/en/scores/archive/brisbane/339/2017/results,Semi-Finals,2,1,Grigor Dimitrov,d875,grigor-dimitrov,...,1,76(7) 62,2,0,13,8,1,0,2017-339-d875-r975,/en/scores/2017/339/MS002/match-stats
2,2017-339,1,brisbane,/en/scores/archive/brisbane/339/2017/results,Semi-Finals,2,2,Kei Nishikori,n552,kei-nishikori,...,2,76(3) 63,2,0,13,9,1,0,2017-339-n552-w367,/en/scores/2017/339/MS003/match-stats
3,2017-339,1,brisbane,/en/scores/archive/brisbane/339/2017/results,Quarter-Finals,3,1,Milos Raonic,r975,milos-raonic,...,5,46 63 64,2,1,16,13,0,0,2017-339-r975-n409,/en/scores/2017/339/MS004/match-stats
4,2017-339,1,brisbane,/en/scores/archive/brisbane/339/2017/results,Quarter-Finals,3,2,Stan Wawrinka,w367,stan-wawrinka,...,NaN,67(2) 64 64,2,1,18,15,0,1,2017-339-w367-e831,/en/scores/2017/339/MS007/match-stats

In [7]:
match_scores.columns

Index(['tourney_year_id', 'tourney_order', 'tourney_slug',
       'tourney_url_suffix', 'tourney_round_name', 'round_order',
       'match_order', 'winner_name', 'winner_player_id', 'winner_slug',
       'loser_name', 'loser_player_id', 'loser_slug', 'winner_seed',
       'loser_seed', 'match_score_tiebreaks', 'winner_sets_won',
       'loser_sets_won', 'winner_games_won', 'loser_games_won',
       'winner_tiebreaks_won', 'loser_tiebreaks_won', 'match_id',
       'match_stats_url_suffix'],
      dtype='object')

In [38]:
match_scores.loc[15]

tourney_year_id                                               2017-339
tourney_order                                                        1
tourney_slug                                                  brisbane
tourney_url_suffix        /en/scores/archive/brisbane/339/2017/results
tourney_round_name                                         Round of 32
round_order                                                          5
match_order                                                          1
winner_name                                               Rafael Nadal
winner_player_id                                                  n409
winner_slug                                               rafael-nadal
loser_name                                         Alexandr Dolgopolov
loser_player_id                                                   d801
loser_slug                                         alexandr-dolgopolov
winner_seed                                                          5
loser_seed                                                         NaN
match_score_tiebreaks                                            63 63
winner_sets_won                                                      2
loser_sets_won                                                       0
winner_games_won                                                    12
loser_games_won                                                      6
winner_tiebreaks_won                                                 0
loser_tiebreaks_won                                                  0
match_id                                            2017-339-n409-d801
match_stats_url_suffix           /en/scores/2017/339/MS019/match-stats
Name: 15, dtype: object

In [11]:
match_scores.winner_name.value_counts()

Rafael Nadal                   67
Alexander Zverev               53
David Goffin                   50
Roger Federer                  50
Roberto Bautista Agut          46
                               ..
Marcelo Arevalo                 1
Ivan Nedelko                    1
Alejandro Davidovich Fokina     1
William Blumberg                1
Dmitry Popko                    1
Name: winner_name, Length: 340, dtype: int64

In [12]:
match_scores.loser_name.value_counts()

Nikoloz Basilashvili    32
Paolo Lorenzi           32
Mischa Zverev           31
Benoit Paire            31
Joao Sousa              30
                        ..
Takuto Niki              1
Amir Weintraub           1
Facundo Mena             1
Mate Pavic               1
Ayoub Chakrouni          1
Name: loser_name, Length: 536, dtype: int64

In [19]:
match_scores[match_scores['winner_name'] == 'Rafael Nadal']['tourney_slug'].value_counts()

roland-garros      7
us-open            7
australian-open    6
barcelona          5
miami              5
madrid             5
beijing            5
monte-carlo        5
shanghai           4
acapulco           4
wimbledon          3
brisbane           2
rome               2
cincinnati         2
indian-wells       2
paris              2
montreal           1
Name: tourney_slug, dtype: int64

# DataSet Match Stats

In [32]:
match_stats = pd.read_csv('match_stats_2017_unindexed_csv.csv')

In [33]:
match_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3811 entries, 0 to 3810
Data columns (total 53 columns):
tourney_order                       3811 non-null int64
match_id                            3811 non-null object
match_stats_url_suffix              3811 non-null object
match_time                          3811 non-null object
match_duration                      3811 non-null int64
winner_aces                         3811 non-null int64
winner_double_faults                3811 non-null int64
winner_first_serves_in              3811 non-null int64
winner_first_serves_total           3811 non-null int64
winner_first_serve_points_won       3811 non-null int64
winner_first_serve_points_total     3811 non-null int64
winner_second_serve_points_won      3811 non-null int64
winner_second_serve_points_total    3811 non-null int64
winner_break_points_saved           3811 non-null int64
winner_break_points_serve_total     3811 non-null int64
winner_service_points_won           3811 non-null int64
winner_service_points_total         3811 non-null int64
winner_first_serve_return_won       3811 non-null int64
winner_first_serve_return_total     3811 non-null int64
winner_second_serve_return_won      3811 non-null int64
winner_second_serve_return_total    3811 non-null int64
winner_break_points_converted       3811 non-null int64
winner_break_points_return_total    3811 non-null int64
winner_service_games_played         3811 non-null int64
winner_return_games_played          3811 non-null int64
winner_return_points_won            3811 non-null int64
winner_return_points_total          3811 non-null int64
winner_total_points_won             3811 non-null int64
winner_total_points_total           3811 non-null int64
loser_aces                          3811 non-null int64
loser_double_faults                 3811 non-null int64
loser_first_serves_in               3811 non-null int64
loser_first_serves_total            3811 non-null int64
loser_first_serve_points_won        3811 non-null int64
loser_first_serve_points_total      3811 non-null int64
loser_second_serve_points_won       3811 non-null int64
loser_second_serve_points_total     3811 non-null int64
loser_break_points_saved            3811 non-null int64
loser_break_points_serve_total      3811 non-null int64
loser_service_points_won            3811 non-null int64
loser_service_points_total          3811 non-null int64
loser_first_serve_return_won        3811 non-null int64
loser_first_serve_return_total      3811 non-null int64
loser_second_serve_return_won       3811 non-null int64
loser_second_serve_return_total     3811 non-null int64
loser_break_points_converted        3811 non-null int64
loser_break_points_return_total     3811 non-null int64
loser_service_games_played          3811 non-null int64
loser_return_games_played           3811 non-null int64
loser_return_points_won             3811 non-null int64
loser_return_points_total           3811 non-null int64
loser_total_points_won              3811 non-null int64
loser_total_points_total            3811 non-null int64
dtypes: int64(50), object(3)
memory usage: 1.5+ MB

In [34]:
match_stats.head()

,tourney_order,match_id,match_stats_url_suffix,match_time,match_duration,winner_aces,winner_double_faults,winner_first_serves_in,winner_first_serves_total,winner_first_serve_points_won,...,loser_second_serve_return_won,loser_second_serve_return_total,loser_break_points_converted,loser_break_points_return_total,loser_service_games_played,loser_return_games_played,loser_return_points_won,loser_return_points_total,loser_total_points_won,loser_total_points_total
0,0,2017-339-r975-n409,/en/scores/2017/339/MS004/match-stats,02:21:00,141,23,3,62,97,50,...,19,35,1,7,14,15,31,97,84,181
1,0,2017-339-d875-n552,/en/scores/2017/339/MS001/match-stats,01:49:00,109,7,2,52,77,41,...,13,25,2,7,12,13,24,77,69,146
2,0,2017-339-d875-r975,/en/scores/2017/339/MS002/match-stats,01:28:00,88,4,1,36,58,27,...,4,22,0,0,10,10,13,58,53,119
3,0,2017-339-n552-w367,/en/scores/2017/339/MS003/match-stats,01:42:00,102,1,1,56,77,37,...,7,21,1,5,10,11,26,77,63,138
4,0,2017-339-d875-tb69,/en/scores/2017/339/MS005/match-stats,02:05:00,125,3,3,52,94,42,...,19,42,1,14,14,14,29,94,82,176

In [36]:
match_stats.loc[0]

tourney_order                                                           0
match_id                                               2017-339-r975-n409
match_stats_url_suffix              /en/scores/2017/339/MS004/match-stats
match_time                                                       02:21:00
match_duration                                                        141
winner_aces                                                            23
winner_double_faults                                                    3
winner_first_serves_in                                                 62
winner_first_serves_total                                              97
winner_first_serve_points_won                                          50
winner_first_serve_points_total                                        62
winner_second_serve_points_won                                         16
winner_second_serve_points_total                                       35
winner_break_points_saved                                               6
winner_break_points_serve_total                                         7
winner_service_points_won                                              66
winner_service_points_total                                            97
winner_first_serve_return_won                                          22
winner_first_serve_return_total                                        61
winner_second_serve_return_won                                          9
winner_second_serve_return_total                                       23
winner_break_points_converted                                           2
winner_break_points_return_total                                        4
winner_service_games_played                                            15
winner_return_games_played                                             14
winner_return_points_won                                               31
winner_return_points_total                                             84
winner_total_points_won                                                97
winner_total_points_total                                             181
loser_aces                                                              4
loser_double_faults                                                     0
loser_first_serves_in                                                  61
loser_first_serves_total                                               84
loser_first_serve_points_won                                           39
loser_first_serve_points_total                                         61
loser_second_serve_points_won                                          14
loser_second_serve_points_total                                        23
loser_break_points_saved                                                2
loser_break_points_serve_total                                          4
loser_service_points_won                                               53
loser_service_points_total                                             84
loser_first_serve_return_won                                           12
loser_first_serve_return_total                                         62
loser_second_serve_return_won                                          19
loser_second_serve_return_total                                        35
loser_break_points_converted                                            1
loser_break_points_return_total                                         7
loser_service_games_played                                             14
loser_return_games_played                                              15
loser_return_points_won                                                31
loser_return_points_total                                              97
loser_total_points_won                                                 84
loser_total_points_total                                              181
Name: 0, dtype: object

In [44]:
match_stats[match_stats['match_id']== '2017-339-n409-d801']

,tourney_order,match_id,match_stats_url_suffix,match_time,match_duration,winner_aces,winner_double_faults,winner_first_serves_in,winner_first_serves_total,winner_first_serve_points_won,...,loser_second_serve_return_won,loser_second_serve_return_total,loser_break_points_converted,loser_break_points_return_total,loser_service_games_played,loser_return_games_played,loser_return_points_won,loser_return_points_total,loser_total_points_won,loser_total_points_total
15,0,2017-339-n409-d801,/en/scores/2017/339/MS019/match-stats,01:15:00,75,2,1,36,52,26,...,6,16,1,3,9,9,16,52,43,105